name: Build and Deploy Container

on:
  workflow_run:
    workflows: ["Controle"]
    types:
      - completed

jobs:
  build-and-deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' && (github.event.pull_request.base.ref == 'main' || startsWith(github.event.pull_request.base.ref, 'release/')) }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker buildx build --push \
            --tag ghcr.io/microflow-ynov/webinterface/my-container:latest .

      # - name: Deploy to Kubernetes
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     kubectl apply -f k8s/deployment.yaml
