name: Discord Notification

on:
  push:
    branches:
      - main
  # workflow_run:
  #   workflows: ["Deploy to Production"]
  #   types:
  #     - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get Changelog
        id: get_changelog
        run: |
          echo "CHANGELOG=$(tail -n 5 CHANGELOG.md)" >> $GITHUB_ENV

      - name: Send message to Discord
        if: failure()
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
          CHANGELOG: ${{ env.CHANGELOG }}
        run: |
          curl -X POST -H "Content-Type: application/json" \
          -d '{
                "content": "CI/CD Pipeline Failed!",
                "embeds": [
                  {
                    "title": "Deployment Status",
                    "description": "The latest deployment has failed.",
                    "color": 16711680,
                    "fields": [
                      {
                        "name": "Commit Message",
                        "value": "'"${COMMIT_MESSAGE}"'"
                      },
                      {
                        "name": "Changelog",
                        "value": "'"${CHANGELOG}"'"
                      }
                    ],
                    "footer": {
                      "text": "Check the details in the repository."
                    }
                  }
                ],
                "components": [
                  {
                    "type": 1,
                    "components": [
                      {
                        "type": 2,
                        "label": "View Repository",
                        "style": 5,
                        "url": "https://github.com/your-repo-url"
                      }
                    ]
                  }
                ]
              }' \
          ${{ secrets.DISCORD_WEBHOOK_URL }}
